@charset "utf-8";
/* 새글 스킨 (latest) */
.pic_lt{position:relative;margin-bottom:20px;}
.pic_lt .swiper-wrapper{height:auto;}
.pic_lt .lat_title {display:block;background:#fcfcfc;padding:0 20px;line-height:45px;font-size:1.083em;border-bottom:1px solid #e2e2e2;color:#253dbe;}
.pic_lt .lat_title a{color:#253dbe;display:inline-block;position:relative}
.pic_lt .lat_title a:after{position:absolute;bottom:-1px;left:0;width:100%;height:2px;background:#253dbe;content:''}
.pic_lt .lt_more {position:absolute;top:11px;right:10px;display:block;width:25px;line-height:25px;color:#aaa;border-radius:3px;text-align:center;}
.pic_lt .lt_more:hover{color:#777}
.pic_lt ul:after {display:block;visibility:hidden;clear:both;content:""}
.pic_lt ul{padding:0 0 20px; }
.pic_lt li{float:left;width:20%;}
.pic_lt li .slide_box{padding:0 15px;}

.pic_lt li:hover .lt_img img{box-shadow: 0 2px 12px 2px rgb(0 0 0 / 17%); }
.pic_lt li:hover .lt_img {transform:translateY(-10px); }
.pic_lt li .lt_img{margin:5px 0 26px;display:block;transition:0.5s ease-in-out;}
.pic_lt li .lt_img img{width:100%;height:auto;border-radius:10px;}
.pic_lt li a:hover{color:#a22121}
.pic_lt li .fa-heart{color:#ff0000;}
.pic_lt li .fa-lock{display: inline-block;line-height: 14px;width: 16px;font-size: 0.833em;color: #4f818c;background: #cbe3e8;text-align: center;border-radius: 2px;font-size: 12px;border:1px solid #a2c6ce}
.pic_lt li .new_icon{display:inline-block;width: 16px;line-height:16px ;font-size:0.833em;color:#ffff00;background:#6db142;text-align:center;border-radius: 2px;}
.pic_lt li .hot_icon{display:inline-block;width: 16px;line-height:16px ;font-size:0.833em;color:#fff;background:#e52955;text-align:center;border-radius: 2px;}
.pic_lt li .fa-caret-right{color:#bbb}
.pic_lt .lt_cmt{background:#5c85c1;color:#fff; font-size:11px;height:16px;line-height:16px;padding:0 5px;border-radius:3px;white-space: nowrap;
-webkit-box-shadow: inset 0 2px 5px  rgba(255,255,255,0.4);
-moz-box-shadow: inset 0 2px 5px  rgba(255,255,255,0.4);
box-shadow: inset 0 2px 5px  rgba(255,255,255,0.4);}
.pic_lt .lt_date{padding-bottom: 20px;border-bottom: 2px solid #eee;display:block;margin-top:5px;color: #acacac; font-weight: 300;    letter-spacing: 0.02em;}
.pic_lt .text1{font-size:22px; color:#444;font-weight:500;letter-spacing:-0.06em;}
.pic_lt .text1:hover{ color:#444;}
.pic_lt .text2{font-size:16px;color:#777;font-weight:300;margin: 16px 0 50px;text-overflow: ellipsis;white-space: normal; height:50px;overflow: hidden;}


.pic_lt .swiper-button-prev,.pic_lt  .swiper-container-rtl .swiper-button-prev{background-image: url(../image/prev.png);left: -45px;right: auto;}
.pic_lt .swiper-button-next,.pic_lt  .swiper-container-rtl .swiper-button-next{background-image: url(../image/next.png);left: auto;right: -45px;}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{opacity:1 !important;}
.pic_lt .swiper-button-next, .swiper-button-next {position: absolute;top: 40%;transform: translateY(-50%);width: 35px;height: 68px;margin-top: -22px;z-index: 10;cursor: pointer;background-position: center;background-repeat: no-repeat;background-size: 35px 68px;}
.pic_lt .swiper-button-prev, .swiper-button-prev {position: absolute;top: 40%;transform: translateY(-50%);width: 35px;height: 68px;margin-top: -22px;z-index: 10;cursor: pointer;background-position: center;background-repeat: no-repeat;background-size: 35px 68px;pointer-events:auto;}

@media only screen and (max-width: 1210px){
    .pic_lt .swiper-button-next,.pic_lt .swiper-button-next{top:-20px;left:80px; width:18px; height:38px;   background-size: 18px 38px;}
    .pic_lt .swiper-button-prev, .pic_lt .swiper-button-prev{top:-20px; left:20px;  width:18px; height:38px;   background-size: 18px 38px;}




}
@media only screen and (max-width: 1024px){
    .pic_lt .text1{font-size:19px;}
    .pic_lt .text2{font-size:15px;    margin: 10px 0 30px;}
    .pic_lt .lt_date{font-size:13px;}
}
@media only screen and (max-width: 991px){
    .pic_lt .text1{font-size:17px;}
    .pic_lt .text2{font-size:13px;    margin: 8px 0 4px;}
    .pic_lt .lt_date{font-size:12px;}

}
@media only screen and (max-width: 768px){
    .pic_lt .lt_date{padding-bottom:10px;}
    .pic_lt ul{padding:0;}
    .pic_lt .swiper-button-next,.pic_lt  .swiper-button-prev{display:block !important;}



}
@media only screen and (max-width: 640px){
    .pic_lt .swiper-button-next, .pic_lt .swiper-button-next{background-image: url('/theme/ricorean/html/image/sm_next.png'); top:42%;right:40px;left: auto; width:16px; height:32px;   background-size: 16px 32px;}
    .pic_lt .swiper-button-prev, .pic_lt .swiper-button-prev{background-image: url('/theme/ricorean/html/image/sm_prev.png');top:42%; left:40px;  width:16px; height:32px;   background-size: 16px 32px;}
    .pic_lt .text2{height:auto;}

}
@media only screen and (max-width: 480px){
    .pic_lt{margin-bottom:0;}
}
@media only screen and (max-width: 320px){
    .pic_lt li .lt_img{margin:16px 0 6px;}
}