.table-responsive{width:100%; margin-bottom:15px; overflow-x:scroll; overflow-y:hidden;}
.select_option option{color:#333}
.member_select{padding:7px 10px; background:transparent; border:none; color:#74788d}
.member_select option{color:#74788d}
.rico_center{text-align:center}
.rico_right{text-align:right}
.rico_line{border-top:1px dotted #ddd; margin:20px 0 46px;}
.rico_line20{border-top:1px dotted #ddd; margin:20px 0}
.rico_dis_inb{display:inline-block;}
.rico_dis_bl{display:block;}

.rico_width100{width:100%}
.rico_width72{width:72%}
.rico_width50{width:50%}
.rico_width25{width:25%}
.rico_float_right{float:right}
.rico_float_left{float:left}
.rico_bor_ccc{border-bottom:1px solid #ccc}
.rico_bor_ebe{border-bottom:1px solid #ebedf2}
.rico_black{color:#000}

.rico_bg_eee{background:#eee; border-radius:5px;}
.rico_bg_silver{background:silver; border-radius:5px}
.rico_bg_gold{background:gold; border-radius:5px}
.rico_bg_platinum{background:#50dbe8; border-radius:5px;}
.rico_bold{font-weight:bold}
.rico_pr5rem{padding-right:0.5rem}
.rico_pd10{padding:10px;}
.rico_pd20{padding:20px;}
.rico_pd020{padding:0 20px;}
.rico_pd150{padding:15px 0;}
.rico_pd50{padding:50px 0;}
.rico_pd15{padding:15px;}

.rico_mb0{margin-bottom:0;}
.rico_mb34{margin-bottom:34px;}

.rico_font50{font-size:50px;}
.rico_font30{font-size:30px;}
.rico_font25{font-size:25px;}
.rico_font20{font-size:20px;}

.rico_col_e94{color:#e94b4b}
.rico_col_333{color:#333;}
.rico_white{color:#fff}
.rico_bg_e94{background:#e94b4b; color:#fff !important}
.rico_bg_a99{background:#a992e2;}
.rico_bg_55b{background:#55badf;}
.rico_bg_ec6{background:#ec6f5a;}
.rico_bg_f7c{background:#f7c65f;}
.rico_bg_faf{background:#fafafa}
.rico_bg_646{background:#646c9a; color:#fff !important}
.kt-pricing-1__btn > .btn-warning{color:#fff}

.rico_icon-bg{position:absolute; opacity:0.8; right:-10px; top:50px; font-size:80px;}
.rico_pos_rel{position:relative}
.rico_over_hid{overflow:hidden}

/*.form-group label{color:#fff !important}*/
.rico_pd710{padding:7px 30px 7px 0;}
.rico_mb15{margin-bottom:15px;}
.rico_mb5{margin-bottom:5px;}
.rico_pd10{padding:10px 0;}
.rico_pdlr10{padding:0 10px;}
.info_company{position:relative; word-break:keep-all; font-size:12px; max-width:380px; margin:0 auto; width:100%}
.info_company_index{position:relative; word-break:keep-all; font-size:12px;}
.info-divider{margin-left:5px; margin-right:5px; color:#c5c5c5;}

.card-shadow{box-shadow:0 5px 20px rgba(0,0,0,0.05);border-top:0; border-left:0; border-bottom:0;}
.icon_ill{margin-bottom:10px;}

/*오리지널*/
.user-name{font-size:1.3rem; color:#48465b; font-weight:500; align-items:center; margin-right:0.5rem}
.user-name02{color:#74788d; font-weight:500;}
.panel-heading{position:relative; height:60px; line-height:36px; color:#666; font-size:13px; font-weight:600; padding:0 8px !important; min-height:40px !important}
.paging_pd{line-height:222%}
.kt-pagination .kt-pagination__links li a{line-height:222%}


/* 20200623 NPL 내용 추가 */
.country_br{border-top-right-radius:0 !important; border-bottom-right-radius:0 !important; border-top-left-radius:7px !important; border-bottom-left-radius:7px !important;}
.phone_br{border-top-left-radius:0 !important; border-bottom-left-radius:0 !important; border-top-right-radius:7px !important; border-bottom-right-radius:7px !important}
.rico_pdr{padding-right:1px !important}


.new_font01{font-size:21px; color:#424279; margin-bottom:15px;}
.new_font02{font-size:19px; color:#728096; font-weight:400; margin-bottom:0; letter-spacing:0.2px;}

.all-cencel{position:absolute; right:30px; top:12px; color:#fff; font-weight:bold; border-radius:5px; padding:8px 20px; border:1px solid red ; background:red}

.font-large-2{font-size:4rem}
.info{color:#1e9ff2}
.warning{color:#ff9149}
.normal-font{color:#464855}
.success{color:#28d094}
.danger{color:#ff4961}


.investment_btn{background:#002d5a;color:#fff;border:0; border-radius:5px; padding:5px 15px; height:44px; margin-right:15px; margin-top:11px; font-weight:bold;}
.invest-re{font-size:15px; margin-right:5px; font-weight:normal}
.btn.investment_btn:hover{color:#fff}
.pd-20{padding:20px;}
.daily-icon{color:#5c1ac3}
.recom-icon{color:#009688}
.manager-icon{color:#1b55e2}
.all-icon{color:#ffc107}
.ready-product{background:#fff; height:100%; margin:0;}
.msh100{height:100%}




@media (max-width: 1024px) {

.kt-login.kt-login--v6 .kt-login__aside{height:100%}
.kt-login.kt-login--v2 .kt-login__wrapper{padding:14% 2rem 1rem 2rem !important}
.investment_btn{margin-top:8px; height:34px}
.text-left-m{text-align:left}

}


@media (max-width: 900px) {
.table-scroll_m900{width:840px;}
.kt-login.kt-login--v2 .kt-login__wrapper{padding:19% 2rem 1rem 2rem !important}
}



@media (max-width: 767.98px) {


.table-scroll_m700{width:700px;}

.rico_right_m767{text-align:right}
.rico_center_m767{text-align:center}
.rico_left_m767{text-align:left}
.rico_float_left_m767{width:49%; float:left;}
.rico_float_right_m767{width:49%; float:right;}
.rico_display_inb_m{display:inline-block !important;}
.rico_width100_m767{width:100%}


}

@media (max-width: 500px) {
.rico_float_none_m500{float:none;}
.rico_dis_inb_m500{display:inline-block}
.rico_dis_bl_m500{display:block;}
.rico_bb_ccc_m500{border-bottom:1px solid #ccc}
.rico_width100_m500{width:100%}

}

@media (max-width: 315px) {

.kt-mobile{width:100%}

}