.table-responsive{width:100%; margin-bottom:15px; overflow-x:scroll; overflow-y:hidden;}
.select_option option{color:#333}
.member_select{padding:7px 10px; background:transparent; border:none; color:#74788d}
.member_select option{color:#74788d}
.rico_center{text-align:center}
.rico_right{text-align:right}
.rico_line{border-top:1px dotted #ddd; margin:20px 0 46px;}
.rico_line20{border-top:1px dotted #ddd; margin:20px 0}
.rico_dis_inb{display:inline-block;}
.rico_dis_bl{display:block;}



.card-shadow{box-shadow:0 5px 20px rgba(0,0,0,0.05);border-top:0; border-left:0; border-bottom:0;}
.icon_ill{margin-bottom:10px;}

/*오리지널*/
.user-name{font-size:1.3rem; color:#48465b; font-weight:500; align-items:center; margin-right:0.5rem}
.user-name02{color:#74788d; font-weight:500;}
.panel-heading{position:relative; height:60px; line-height:36px; color:#666; font-size:13px; font-weight:600; padding:0 8px !important; min-height:40px !important}
.paging_pd{line-height:222%}
.kt-pagination .kt-pagination__links li a{line-height:222%}

/* 바로가기 메뉴 */
#skip-navi a {position: absolute;text-align: center;width: 170px;padding: 7px 0;display: block;background: #222;color: #fff;left: -9999px;font-size: 15px;font-weight: 500;}
#skip-navi a:focus { top:0;left: 0%; z-index:999999 !important; text-decoration:none;}




@media (max-width: 1024px) {

.kt-login.kt-login--v6 .kt-login__aside{height:100%}
.kt-login.kt-login--v2 .kt-login__wrapper{padding:14% 2rem 1rem 2rem !important}
.investment_btn{margin-top:8px; height:34px}
.text-left-m{text-align:left}

}


@media (max-width: 900px) {
.table-scroll_m900{width:840px;}
.kt-login.kt-login--v2 .kt-login__wrapper{padding:19% 2rem 1rem 2rem !important}
}



@media (max-width: 767.98px) {


.table-scroll_m700{width:700px;}

.rico_right_m767{text-align:right}
.rico_center_m767{text-align:center}
.rico_left_m767{text-align:left}
.rico_float_left_m767{width:49%; float:left;}
.rico_float_right_m767{width:49%; float:right;}
.rico_display_inb_m{display:inline-block !important;}
.rico_width100_m767{width:100%}


}

@media (max-width: 500px) {
.rico_float_none_m500{float:none;}
.rico_dis_inb_m500{display:inline-block}
.rico_dis_bl_m500{display:block;}
.rico_bb_ccc_m500{border-bottom:1px solid #ccc}
.rico_width100_m500{width:100%}

}

@media (max-width: 315px) {

.kt-mobile{width:100%}

}