header{
    width: 276px;
    background: #fff;
    float: left;
    min-height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
header .logo{
    padding: 20px 28px 10px;
}
header .logo a{
    display: block;
}
header .day{
    padding: 0 30px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #555;
}
header .day .time{
    padding-left: 17px;
    margin-left: 15px;
    position: relative;
    }
 header .day .time:after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 12px;
    background: #d4d4d4;
    transform: translateY(-50%);
}
header .link-btn_box{
    background: #950020;
    color: #fff;
    font-size: 0;
}
header .link-btn_box a{
    color: #fff;
    width: 49.5%;
    text-align: center;
    display: inline-block;
    padding: 15px 0;
    font-size: 15px;
}
header .name{
    font-size: 22px;
    font-weight: 600;
    padding: 0 30px;
    margin-bottom: 32px;
    color: #282828;
}
header .link-btn_box a:last-child{
    border-left: 1px solid  #ffffff3d
}
header .header_bot .menu_list{
    margin-top: 10px;
}
header .header_bot .menu_list li a{
    display: block;
    padding: 20px 0px 20px 70px;
    font-size: 18px;
    position: relative;
    color: #6d6d6d;
}
header .header_bot .menu_list li.on a{
    background: #f1f1f1;
    border-left: 6px solid #950020;
    color: #353535;
    font-weight: 600;
}
header .header_bot .menu_list li a img{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}
main{
    float: right;
    width: calc(100% - 276px);
    padding: 40px 0;
}
main .cont-tit{
    font-size: 24px;
    font-weight: 600;
    color: #202020;
    padding-left: 35px;
    margin-bottom: 30px;
}
.sct_1{background: url('../img/t_ico.png')no-repeat left center;}
.sct_2{background: url('../img/t_ico5.png')no-repeat left center;}
.sct_3{background: url('../img/t_ico4.png')no-repeat left center;}
.sct_4{background: url('../img/t_ico3.png')no-repeat left center;}


main .cont_header .top_box{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
}
main .cont_header .not_box{
    width: 58%;
    position: relative;
}
main .cont_header .not_box .s_tit{
    font-size: 19px;
    font-weight: 600;
    color: #252525;
    margin-bottom: 15px;
}
main .cont_header .not_box .btn_more{
    position: absolute;
    right: 20px;
    top: 16px;
    color: #950020;
    border-radius: 2px;
    border: 1px solid #950020;
    display: block;
    padding: 6px 12px;
    font-weight: 600;
    font-size: 14px;
}
main .cont_header .not_box .list_not li{
    position: relative;
    font-size: 15px;
}
main .cont_header .not_box .list_not li a{
    padding: 8px 0;
    display: block;
}
main .cont_header .not_box .list_not li .date{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #979797;
}
main .cont_header .enroll_wrap{
    width: 38%;
    background: #950020;
    padding: 28px 40px;
    border-radius: 6px;
    position: relative;
    color: #Fff;
    text-align: right;
    box-sizing: border-box;
}
main .cont_header .enroll_wrap a{
    display: block;
}
main .cont_header .enroll_wrap .ico_deco{
    background: #fff url(../img/ico_dash.png)no-repeat center/31px auto;
    width: 82px;
    height: 82px;
    position: absolute;
    border-radius: 50%;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
}
main .cont_header .enroll_wrap .title{
    font-size: 22px;
    font-weight: 600;color: #fff;
}
main .cont_header .enroll_wrap .title .pl{
    color: #fff;
    background: rgb(0 0 0 / 20%);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
}
main .cont_header .enroll_wrap .desc{
    color: #ffffffc9;
    margin-top: 10px;
    line-height: 130%;
}

main .cont_header .list_grape{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
main .cont_header .list_grape li{
    width: 32%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 28px;
    box-sizing: border-box;
}
main .cont_header .list_grape li .right{
    width: 50%;
}
main .cont_header .list_grape li .left .b_tit {
    line-height: 130%;
    margin-bottom: 20px;
    font-size: 20px;
    FONT-WEIGHT: 600;
    color: #333;
}
main .cont_header .list_grape li .left .b_tit span{
    font-size: 15px;
    color: #7f7f7f;
    font-weight: 400;
}
main .cont_header .list_grape li .left .val{
    font-size: 25px;
    font-weight: 800;
}
main .cont_area{
    margin-top: 22px;
}
.sct_tit{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}
.sct_tit .text{
    margin-left: 9px;
    font-size: 15px;
    color: #960020;
}
.list_media{
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
    border-top: 1px solid #eee;
}

.list_media li{
    width: calc(100%/4 - 10px);
    background: #f7f7f7;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-right: 13px;
    margin-bottom: 13px;
}
.list_media.wid_6 li{
    width: calc(100%/6 - 9px);
    margin-right: 10px;
}
.list_media.wid_6 li:nth-child(6n){
    margin-right: 0;
}
.list_media.wid_6 li:nth-child(4n){
    margin-right: auto;
}
.list_media li:nth-child(4n){ 
    margin-right: 0; 
}
.list_media li .inner{
    display: flex;
    justify-content: space-between;
    padding: 11px 15px;
    align-items: center;
}
.list_media li .inner .txt{
    font-size: 18px;
}
.list_media li .inner .txt span{
    margin-left: 8px;
    font-size: 16px;
}
.list_media li .inner .txt strong{
    color: #950020;
    font-weight: 600;
}
.list_media li .inner .btn_see{
    background: #950020;
    color: #fff;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 16px;
}
.list_media li .inner .btn_bugo{
    background: #777;
}
.list_media li .inner .btn_see img{
    vertical-align: middle;
    margin-right: 5px;
}
main .cont_area .search-bar .sch-bar_inner{
    display: flex;
    align-items: center;
}
main .cont_area .search-bar .search-bar-cell {
    margin-right: 10px;position: relative;
}
main .cont_area .search-bar .search-bar-cell img{ 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);}
main .cont_area .search-bar .search-bar-cell .ui-input {
    background: #f3f3f3;
    border: none;
    color: #6c6c6c;
    border-radius: 3px;
    padding: 5px 12px;
    height: 40px;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
}
main .cont_area .search-bar .search-bar-cell .ui-input.flatpickr  {
    width: 153px;  
    cursor: pointer;}
main .cont_area .search-bar .search-bar-cell.select select{
    width: 120px;
}
main .cont_area .search-bar .search-bar-cell.dash {
    color: #999;
}
main .cont_area .search-bar .search-bar-cell button {
    background: #950020;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    border: none;
    height: 40px;
    padding: 0 14px;
    font-weight: 500;
}
main .cont_area .table-wrap {
    margin-top: 30px;
}
main .cont_area .table-wrap table {
    width: 100%;
    margin-bottom: 15px;
}

main .cont_area .table-wrap table thead{
    border-top: 2px solid #222;
}
main .cont_area .table-wrap table thead th{
    background: #fafafa;
    padding: 17px 0;
    border: 1px solid #ddd;
}
main .cont_area .table-wrap table thead th span{
    color: #950020;
}
main .cont_area .table-wrap table tbody td{
    text-align: center;
    padding: 10px 10px;
    vertical-align: middle;
    border-right: 1px solid #eee;
}
main .cont_area .table-wrap table tbody td:last-child{
    border-right: none;
}
main .cont_area .table-wrap table tbody td {
    border-bottom: 1px solid #eee;
    color: #555;
}
main .cont_area .table-wrap table tbody td  .view{
    background: #e6e6e6;
    color: #121212;
    font-size: 14px;
    padding: 12px 0;
    border-radius: 3px;
    margin-left: 5px;
    width: 11%;
    display: inline-block;
}
main .cont_area .table-wrap table tbody td .btn_down{  
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 9px 25px;
    font-size: 15px;
}
main .cont_area .table-wrap table tbody td  .del{
    background: #4f4f4f;
    color: #fff;
    font-size: 14px;
    padding: 12px 0;
    border-radius: 3px;
    margin-left: 3px;
    display: inline-block;
    width: 11%;
}
main .cont_area .table-wrap table tbody td .btn_box .btn{
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    padding: 12px 0;
    display: inline-block;
    font-size: 14px;
    width: 15.5%;
}
main .cont_area .table-wrap table tbody td .btn_box .btn.btn_long{
    width: 22%;
}

main .cont_area .table-wrap table tbody td.info{
    text-align: left;
}
main .cont_area .table-wrap table tbody td p .state{
    background: linear-gradient(181deg, #535353, #636363);
    color: #fff;
    border-radius: 2px;
    padding: 5px 9px;
    display: inline-block;
    margin-left: 6px;
    font-size: 15px;
}
main .cont_area .table-wrap table tbody td  .not_txt{
    color: #950020;
    font-size: 14px;
    margin-top: 4px;
}


.btn-wrap{
    text-align: center;
}
.btn-wrap .btn_big{
    padding: 13px 10px;
    width: 125px;
}
main  .btn_big{
    background: #950020;
    color: #fff;
    border-radius: 4px;
    padding: 13px 20px;
    display: inline-block;
    text-align: center;
    margin: 35px auto 0;
    font-size: 16px;
}
main  .btn_default{
    background: #ffffff;
    color: #2b2b2b;
    border-radius: 4px;
    padding: 13px 0px;
    display: inline-block;
    text-align: center;
    margin: 35px auto 0;
    font-size: 16px;
    width: 125px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.btn_pos  .btn_big{
    position: absolute;
    right: 19px;
    top: 18px;
    margin-top: 0;
    font-family: 'Pretendard-Regular';
    border: none;
    }
main .cont_area .table-wrap .data{
    text-align: right;
    font-size: 14px;
}
main .cont_area .table-wrap .data span{
    color: #950020;
    font-weight: 600;
}
.modal_overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
}
.md_wrap{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 100%;
 }
 .modal_inner{
    position: relative; 
    background: #fff;
    padding: 25px 20px;
    border-radius: 10px;
    width: 100%;
    margin: 151px auto;
}
.modal_inner .modal-tit{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 22px;
}
.modal_inner .modal-tit img{
    vertical-align: middle;
    margin-right: 8px;
}
.modal_inner .txt{
    margin: 0px 0 8px;
    font-size: 14px;
    color: #960012;
}
.modal_inner .modal_tb{
    border-top: 2px solid #777;
    width: 100%;
}
.modal_inner .modal_tb tr{
    border-top: 1px solid #e7e7e7;
}
.modal_inner .modal_tb tr th,td{
    padding: 10px 9px;
}
.modal_inner .modal_tb tr th{
    background: #f6f6f6;
    width: 22%;
    vertical-align: middle;
}
.modal_inner .modal_tb tr td{
    width: 78%;
}
.modal_inner .modal_tb .ui-input{
    border: 1px solid #c4c4c4;
    height: 38px;
    border-radius: 3px;
    padding: 4px 10px;
    box-sizing: border-box;
    color: #555;
    width: 100%;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
}
.modal_inner .modal_tb .ui-input.wid_4{
    width: 37%;
}
.modal_inner .modal_tb .ui-input.wid_6{
    width: 61%;
    margin-left: .5%;
}
.modal_inner .modal_tb tr td .flatpickr{
    position: relative;
    cursor: pointer;
}
.modal_inner .modal_tb tr td  img{   
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.modal_inner .modal_tb tr td textarea{
    resize: none;
    width: 100%;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Pretendard-Regular';
    box-sizing: border-box;
}
.modal_inner .md_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.modal_inner .md_footer button{
    border: 1px solid #9d9d9d;
    background: #fff;
    color: #222;
    border-radius: 4px;
    width: 49%;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Pretendard-Regular';
}
.modal_inner .md_footer .enroll{
    background: #960012;
    color: #fff;
    border: none;
}
.info_wrap{
    position: relative;
}
.table_box{
    margin-top: 31px;
}
.table_box .list_info{
    width: 100%;
}
.table_box .list_info tbody{
    border-top: 2px solid #222;
}
.table_box .list_info tr{
    border-bottom: 1px solid #eee;
}
.table_box .list_info th,td{
    padding: 20px 16px;
}
.table_box .list_info th{
    background: #f7f7f7;
    text-align: left;
    width: 11%;
}
.table_box .list_info td{
    width: 34%;
}
.table_box .list_info td .input_box.btn_inner input{
    width: calc(100% - 64px);
}
.table_box .list_info td .input_box.btn_inner button{
    width: 60px;
    margin-left: 4px;
    height: 40px;
    box-sizing: border-box;
    background: #222;
    color: #fff;
    border-radius: 4px;
    vertical-align: middle;
    font-weight: 600;    font-family: 'Pretendard-Regular';
}
.table_box .list_info td .input_box input{
    height: 40px;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 4px;
    width: 100%;
}
.way_come{
    border-top: 1px solid #e7e7e7;
    margin-top: 18px;
}
.way_come .way_box{
    margin-top: 16px;
}
.way_come .way_box .b_tit{
    padding-left: 21px;
    margin-bottom: 12px;
    position: relative;
    font-size: 19px;
}
.way_come .way_box .b_tit1::before{
    content: '';
    background: url('../img/sub.png')no-repeat left center/cover;
    position: absolute;
    left: 0;
    width: 13px;
    height: 20px;
}
.way_come .way_box .b_tit2::before{
    content: '';
    background: url('../img/bus.png')no-repeat left center/cover;
    position: absolute;
    left: 0;
    width: 16px;
    height: 17px;
}
.way_come .way_box .tb_inner{
    width: 100%;
}
.way_come .way_box .tb_inner tbody{
    border-top: 1px solid #222;
}
.way_come .way_box .tb_inner tr{
    border-bottom: 1px solid #eee;
}
.way_come .way_box .tb_inner th,td{
    padding: 14px 16px;
}
.way_come .way_box .tb_inner th{
    color: #333;
    background: #f8f8f8;
    vertical-align: middle;
    width: 14%;
    font-size: 16px;
}
.way_come .way_box .tb_inner .input-inner textarea{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;padding: 12px;
}
.list_info .form_cont_box{
    display: flex;
    align-items: center;
}
.list_info .form_cont_box .cont_inner{
    margin-right: 30px;
}
.list_info .form_cont_box .cont_inner button{
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 15px;
}
.form_cont_box .cont_inner .ui-checkbox-block input[type="checkbox"]:checked + .ui-checkbox-label .ui-checkbox-obj{
    background: #960020;
    border-color: #960020;
}
.form_cont_box .cont_inner .ui-checkbox-block input[type="checkbox"]:checked + .ui-checkbox-label .ui-checkbox-obj:before{
    display: block;
}
.form_cont_box .cont_inner .ui-checkbox-block .ui-checkbox-label{
    display: block;
}
.form_cont_box .cont_inner .ui-checkbox-block .ui-checkbox-obj{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #ddd;
    display: inline-block;
    position: relative; 
    overflow: hidden; 
    vertical-align: middle;
    margin-right: 3px;
}
.form_cont_box .cont_inner .ui-checkbox-block .ui-checkbox-obj::before{  
      content: '';
      display: none;
      position: absolute;
      top: 45%;
      left: 50%;
      width: 6px;
      height: 3px;
      border: 1px solid #fff;
      border-width: 0 0 2px 2px;
      transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin: -3px 0 0 -4px;
}

main .cont_area .table-wrap table tbody td .flex-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .cont_area .table-wrap table tbody td .flex-inner .btn_box{
    margin-left: 50px;
}

main .cont_area .table-wrap table tbody td .flex-inner .btn_box a{
    padding: 12px 20px;
    display: inline-block;
    background: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 4px;
}
.modal_body .box_inner{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 24px;
    text-align: center;
    margin: 24px 0;
    background: #fff;
}
.modal_body .box_inner h4{
    font-size: 19px;
    font-weight: 600;
    color: #960021;
    margin-bottom: 10px;
}
.modal_body .box_inner .desc{
    color: #555;
    font-size: 16px;
    line-height: 138%;
}
.modal_body .box_inner .desc strong{
    font-weight: 600;
    color: #960021;
}
.modal_body  .modal_tb .input_wrap{
    display: flex;
    align-items: center;
    margin: 8px 0;
}
.modal_body  .modal_tb .input_wrap .input_box{
    margin: 0 20px;
}
.modal_body  .modal_tb .input_wrap .check_box-obj{
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    position: relative;
}
.modal_body  .modal_tb .input_wrap .check_box-obj::before{
    content: '';
    display: none;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 12px;
     height: 12px;
     background: #960021;
     border-radius: 50%;
}
.modal_body  .modal_tb .input_wrap input:checked + label .check_box-obj::before{
    display: block;
}
.modal_body  .modal_tb .input_wrap .check-text{
    font-size: 15px;
    display: inline-block;
    margin-left: 10px;
    color: #444;
}

.modal_inner  .btn_close{
    position: absolute;
    right: 28px;
    top: 28px;width: 19px;height: 19px;
    background: none; 
    background: url('../img/close.png')no-repeat center/19px auto;
    border: none;
}
/* apexcharts */
.apexcharts-toolbar{
    display: none !important;
}
.apexcharts-yaxis-title{
    display: none;
}
.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center{
    display: none;
}